<!DOCTYPE html>
<html lang="fr">
    <head>  
      <title> Nous contacter</title>
      <meta charset="utf-8">
     
    </head> 
    <body>
        <header >
           
            <h1>Contact de notre Restaurant JUNIOR </h1>
            <nav>
                
                <a  href="/home" > Notre accueil</a><a  href="/ourmenu" > Menu</a> Contact</a>
            </nav>
        
        </header>
        <section>
        <h1>Nous contacter</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.4421455454135!2d2.304447315387207!3d48.88791027929036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fa3460b14eb%3A0x120961cb7e5f771e!2sRESTAURANT+LYNA!5e0!3m2!1sfr!2stn!4v1549275379908" width="600" height="450"  style="border:0" allowfullscreen></iframe>
                 
         <h2>Ou nous trouvez</h2>

        <form  action="/contact">
            
        <fieldset>
            <legend>
                Nous contacter
            </legend>
            <div>
                <label for="emailinput"> Votre mail</label>
                <input type="email" id="emailinput" name="email" required>
            </div>
            <div>
                <label for="nameinput">Votre nom</label>
                <input type="text" id="nameinput" name="nom">
            </div>
            <div>
                <label for="message">Votre message</label>
                <textarea name="message" id="message" placeholder="Ecrivez ici votre message svp"> 
            
                </textarea>
                </div>
            <div>
                <label> <input type="checkbox" name="cr">   j'accepte les conditions et les règles</label>
            </div>
            <div>
                <button type="submit"> Envoyer mon email </button>
            </div>
        </fieldset>
        </form>
        </section>
        <footer>
                <address> Appelez nous pour vous bien servir sur 55 123 567
                  <br/> Passez nous visiter ici, rue midou, jardin d'el manzah 4005 tunis</address>
              </footer> 
        </body> 

</html>