<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Restaurant Junior</title>
    <meta charset="utf-8" />
    <meta name="description" content="Restaurant pour les petits" />
    <meta
      name="keywords"
      content="junior, restaurant, plats spéciaux, healthy food, enfants, bébé"
    />
    <link rel="stylesheet" href="semantic/semantic.min.css">
  </head>
  <body>
    <header>
      <h1>RESTAURANT JUNIOR</h1>

      <nav>
        <a href="/home" > Notre Accueil</a><a href="/ourmenu"> Menu</a>
        <a href="/contact"> Contact</a>
      </nav>
      <p> {{time}}</p>
    </header>

    <main>
      <h2>A propos:</h2>
      <img class="ui medium rounded image" src="/img/logo.jpg">
     
      <p>
        Ce restaurant est fait pour les bébés et les enfants. Vous y trouvez un
        menu des repas healthy et rapides.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor facere
        veritatis ea voluptatem nesciunt ipsam alias, necessitatibus quam
        consectetur dolores illum asperiores, voluptates tenetur recusandae
        deserunt odio aspernatur dolore soluta. Nesciunt soluta consectetur,
        minima qui sed modi sapiente explicabo a beatae accusantium corrupti
        facere eveniet odit aut maxime veritatis aliquam necessitatibus? Ea
        maxime voluptate recusandae consectetur deserunt optio mollitia
        distinctio. Assumenda sit accusantium in iusto sapiente tempora neque
        animi ducimus, eum maxime ab maiores aut doloremque dolorum id obcaecati
        eligendi cupiditate porro qui nesciunt explicabo alias vero laboriosam!
        Sint, repellendus? Veniam enim saepe adipisci ducimus tempore atque iure
        maxime harum nisi numquam! Ut sunt cupiditate voluptatem illo tempore?
        Delectus cum repudiandae quisquam nihil dolor, sit molestias tempora
        veniam praesentium officiis! ipsum dolor sit amet consectetur
        adipisicing elit. Nobis magnam vel, voluptates porro delectus ipsam
        neque corporis animi quibusdam iure ullam esse iusto. Vero ex temporibus
        quia reprehenderit. Illum, a. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Provident maxime temporibus iusto perspiciatis vel eum
        adipisci cum ab tenetur cumque mollitia, numquam sapiente fuga optio
        repudiandae nam explicabo tempora architecto.
      </p>

      <h2>Les spécialités</h2>
      
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        blanditiis deleniti cupiditate animi in eligendi perspiciatis atque!
        Omnis soluta, saepe tenetur impedit fugit autem id, maiores debitis,
        ducimus earum corporis?Corrupti, ab omnis! Nostrum officiis corrupti, ut
        suscipit quis reprehenderit culpa eos unde sit ratione? Corrupti
        dolorum, ex quia dolores temporibus alias voluptate et, adipisci eveniet
        nesciunt quasi. Voluptate, quia.
      </p>

      <h2>les plus de notre resto junior</h2>
      
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum pariatur
        quae quia, natus totam odio obcaecati itaque cupiditate voluptates. Non
        officia provident dolore inventore nihil optio recusandae culpa ea
        repellat!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id temporibus
        libero vitae omnis illum sint quas exercitationem accusamus nam
        quibusdam odit, aut voluptatem quae molestiae perspiciatis eum impedit
        perferendis quo? Eveniet excepturi error deserunt commodi expedita amet,
        totam facere illum ipsum. Aliquid libero nam harum quasi laboriosam in.
        Non possimus, totam dolor aliquam eum nam ex sint neque vitae
        voluptatum.<br />
        Quibusdam sed earum, ut magni veniam fuga atque quidem quaerat
        voluptatibus consectetur. Minus, excepturi rerum quia eos placeat at
        ipsa ab architecto dolorum a vero eius commodi corrupti deleniti
        inventore. Dolorum soluta vitae esse commodi iste vero! Voluptates,
        autem animi sapiente aliquam eum nisi aut ratione in magni saepe
        voluptas quibusdam iusto inventore ullam voluptatem ut dolore quod cum
        hic? Velit, doloribus? Ut velit molestiae iure, aut officia nesciunt
        accusantium debitis voluptas repellat id et! Ullam nulla deserunt
        aliquid consequatur error debitis, rem eligendi odit, nam eaque
        molestiae praesentium amet.
      </p>
    </main>
    <footer>
      <address>
        Appelez nous pour vous bien servir sur 55 123 456 <br />
        Passez nous visiter ici, rue midou, jardin d'el manzah 4005 tunis
      </address>
    </footer>
  </body>
</html>
