<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Menu de notre resto junior</title>
    <meta charset="utf-8" />
   
  </head>
  <body>
    <header>
     
      <h1>Menu pour nos Juniors</h1>

      <nav >
        <a href="/home"> Page d'accueil</a><a href="ourmenu"> Le menu</a>
       <a href="/contact"> Contact</a>
      </nav>
    </header>
    
    <h2>
      Nos plats, boissons et desserts sont répartis dans Le Menu.
    </h2>
    <p>
      En effet chaque jour et même chaque instant nous présentons de nouvelles
      recettes faites pour enrichir notre menu.
    </p>

    <div>
      <table>
        /
        <thead>
          <tr>
            <th colspan="2">Le menu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">Plats</th>
          </tr>
          <tr>
            <td>Purees</td>
            <td>10 €</td>
          </tr>
          <tr>
            <td>Soupes</td>
            <td>10 €</td>
          </tr>
          <tr>
            <th colspan="2">Desserts</th>
          </tr>
          <tr>
            <td>Fruits de saison</td>
            <td>2 €</td>
          </tr>
          <tr>
            <td>Gâteau</td>
            <td>2 €</td>
          </tr>
          <tr>
            <th colspan="2">boissons</th>
          </tr>
          <tr>
            <td>Jus de fruits</td>
            <td>2 €</td>
          </tr>
          <tr>
            <td>Mochito</td>
            <td>2 €</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th colspan="2">Un petit jouet est offert à chaque menu</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <footer >
      <address>
        Appelez nous pour vous bien servir sur 55 123 567 <br />
        Passez nous visiter ici, rue midou, jardin d'el manzah 4005 tunis
      </address>
    </footer>
  </body>
</html>
